<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>密码管理</title>

        <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/assets/css/bootstrap-duallistbox.css" />
{#		<link rel="stylesheet" href="/static/assets/css/prettify.css" />#}
{#        <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" />#}
{#		<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />#}
{#		<link rel="stylesheet" href="/static/assets/css/daterangepicker.css" />#}
{#		<link rel="stylesheet" href="/static/assets/css/colorpicker.css" />#}


        <script src="/static/assets/js/jquery-2.0.3.min.js"></script>
        <script src="/static/assets/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
{#		<script src="/static/assets/js/ace-extra.min.js"></script>#}




<script >
     $(function(){

    $(".show_adv_config").click(function(){
                if ( $(this).is(':checked') ) {
                    $(".adv_config").removeClass('hide');
                    $(".adv_config").addClass('show');

                    $(".hide_adv_config").attr('checked', false);
                } else {
                    $(".adv_config").removeClass('show');
                    $(".adv_config").addClass('hide');

                    $(".show_adv_config").attr('checked', false);
                }
            });
     });

</script>
	</head>
<body>

<form class="form-inline definewidth m20" action="hostpasswd_find" method="post">  
    主机IP：
    <input type="text" name="ip" id="ip_find"class="abc input-default" placeholder="请输入IP地址" value="" required="required">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;
</form>



<form class="form-inline definewidth m20" action="act_img" method="post">  
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>主机IP</th>
        <th>用户名</th>
        <th>主机密码</th>
        <th>操作</th>
     
    </tr>
    </thead>
    {% for i in jieguo.values %}

             <tr>
            <td id="ip">{{i.ip}}</td>
            <td id="username">{{i.username}}</td>
            <td id="password">{{i.password}}</td>

            <td><input id={{i.ip}} type="button"  value="验证密码"
                    onclick="click_button(this,'/hostpasswd_auth','ip={{i.ip}}&username={{i.username}}&password={{i.password}}')">
            </td>
             </tr>
           {% endfor %}
</table>
</form>
    <form id="password_add" class="form-inline definewidth m20" action="hostpasswd_add" method="post" >
    主机IP:
    <input name="ip" id="ip_add"class="abc input-default" placeholder="请输入IP地址" value="" required="required">&nbsp;&nbsp;
    用户名:
    <input name="username" class="abc input-default" placeholder="请输入用户名" value="" required="required">&nbsp;&nbsp;
    密码:
    <input name="password" id="ip_add2" class="abc input-default" placeholder="请输入密码" value="" required="required">&nbsp;&nbsp;

    <input type="button" class="btn btn-primary" value="增加修改密码" onclick="click_button_add(this)"></button>&nbsp;&nbsp;
        <label><input name="online" type="checkbox" onclick="youmustknow()"/>&nbsp;在线修改服务器密码</label>

    </form>
{#批量修改密码FORM#}
	<div class="step">
		<label><input class="show_adv_config" type="checkbox" />&nbsp;批量修改密码</label>
	</div>

<div class="adv_config hide">

<h1 style="text-align:center">批量修改密码</h1>

     <form class="form-search form-horizontal"  method="post" action="batch_change_passwd">
<div class="col-md-6" >

    用户名:
    <input type="text" name="username" class="abc input-default" placeholder="" value="">&nbsp;&nbsp;
    密码:
    <input type="text" name="password" id="ip_add2"class="abc input-default" placeholder="" value="">&nbsp;&nbsp;

                      <select multiple="multiple" size="10" name="iplist" class="demo3"  style="width:800px; height:400px">
                        {% for i in ip_all_list %}
                                <option value="{{i}}">{{i}}</option>
                         {% endfor %}
                      </select>
                      <script>
                        var demo3 = $('.demo3').bootstrapDualListbox({
                          selectedListLabel: 'Selected',
                          preserveSelectionOnMove: 'moved',
                          moveOnSelect: false,
                        });
                      </script>
               </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    Submit
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    Reset
                </button>
            </div>
        </div>
    </form>

</div>

{#验证密码是不是下正确#}
    <script>
        function click_button(btnthis,url1,parameter){
             $.get(url1+'?'+encodeURIComponent(parameter),function(response){
                    $(btnthis).attr('value',response);
                });
        }
    </script>

<script>
    function youmustknow(){
        alert('首先要保证数据库记录的密码是存在并且是正确的!!!')
    }

</script>

{#密码增加或是修改#}
<script>
     function click_button_add(btnthis) {
         $.ajax({
             type: 'POST',
             url: 'hostpasswd_add',
             data: $('#password_add').serialize(),
             success: function (response, status, xhr) {
                  $(btnthis).attr('value',response);
{#                 alert(response+$('#password_add').serialize());#}
             }
         });
     }

</script>
</body>
</html>
