<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>主机信息</title>
		<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" />

		<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/assets/css/ace.min.css" />
		<script src="/static/assets/js/jquery-2.0.3.min.js"></script>
		<script src="/static/js/jquery.cookie.js"></script>
		<script src="/static/assets/js/jquery.dataTables.min.js"></script>
		<script src="/static/assets/js/jquery.dataTables.bootstrap.js"></script>
	</head>

	<body>

<span id="envtype" hidden="hidden">{{env}}</span>
    <div class="main-container" id="main-container">

                        <ul id="inbox-tabs" class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">
												<li class="li-new-mail pull-right">
													<button class="btn " type="button"><a href="project_create">项目新增</a></button>
												</li><!-- ./li-new-mail --><i class="fa fa-book"></i><span class="pull-right">项目操作：<input id="cb7" type="checkbox" checked onclick="toggleColumn(event,7);">&nbsp;&nbsp;&nbsp;配置文件：<input id="cb8" type="checkbox" checked onclick="toggleColumn(event,8);">&nbsp;&nbsp;&nbsp;</span>
{#                            <table id="sample-table-2" class="table table-striped table-bordered table-hover">#}

												<li id='prd' >
													<a  href="project_info?env=prd" data-target="inbox">
														<i class="blue icon-inbox bigger-130"></i>
														<span class="bigger-110">生产</span>
													</a>
												</li>

												<li id='test'>
													<a  href="project_info?env=test" data-target="sent">
														<i class="orange icon-location-arrow bigger-130 "></i>
														<span class="bigger-110">测试</span>
													</a>
												</li>

												<li id='dev'>
													<a href="project_info?env=dev" >
														<i class="green icon-pencil bigger-130"></i>
														<span class="bigger-110">开发</span>
													</a>
												</li>
                                                <li  id='all' >
													<a href="project_info?env=all" data-target="draft" >
														<i class="green icon-pencil bigger-130"></i>
														<span class="bigger-110">全部</span>
													</a>
												</li>


													<ul class="dropdown-menu dropdown-light-blue dropdown-125">
														<li>
															<a data-toggle="tab" href="#tag-1" data-target="tag-1">
																<span class="mail-tag badge badge-pink"></span>
																<span class="pink">Tag#1</span>
															</a>
														</li>

														<li>
															<a data-toggle="tab" href="#tag-family" data-target="tag-family">
																<span class="mail-tag badge badge-success"></span>
																<span class="green">Family</span>
															</a>
														</li>

														<li>
															<a data-toggle="tab" href="#tag-friends" data-target="tag-friends">
																<span class="mail-tag badge badge-info"></span>
																<span class="blue">Friends</span>
															</a>
														</li>

														<li>
															<a data-toggle="tab" href="#tag-work" data-target="tag-work">
																<span class="mail-tag badge badge-grey"></span>
																<span class="grey">Work</span>
															</a>
														</li>
													</ul>
												</li><!-- /.dropdown -->
											</ul>





						<div class="table-responsive">

											<table id="sample-table-2" class="table table-striped table-bordered table-hover">

												<thead>
													<tr>

                                                        <th><i class="icon-time bigger-110 hidden-480"></i>
                                                            项目名称
                                                        </th>


														<th>
															<i class="icon-time bigger-110 hidden-480"></i>
                                                           开发负责人
														</th>
                                                        <th>
															<i class="icon-time bigger-110 hidden-480"></i>
                                                            软件名称
														</th>
                                                        <th>
                                                            <i class="icon-time bigger-110 hidden-480"></i>
                                                            软件类型
                                                        </th>
                                                        <th >
                                                            <i class="icon-time bigger-110 hidden-480"></i>
                                                            节点IP
                                                        </th>
                                                        <th><i class="icon-time bigger-110 hidden-480"></i>
                                                             上线时间
                                                        </th>
                                                        <th><i class="icon-time bigger-110 hidden-480"></i>
                                                             架构分类
                                                        </th>
                                                        <th><i class="icon-time bigger-110 hidden-480"></i>
                                                             jenkins视图
                                                        </th>
                                                        <th><i class="icon-time bigger-110 hidden-480"></i>
                                                             项目操作
                                                        </th>
                                                         <th >
                                                            <i class="icon-time bigger-110 hidden-480"></i>
                                                             配置文件
                                                        </th>
                                                    </tr>
												</thead>
                                     {% for i in contacts %}
                                         <tr>
                                            <td>{{i.project_name}}</td>

                                            <td>{{i.kaifa_man}}</td>
                                            <td>{{i.soft_name}}</td>
                                            <td>{{i.soft_type}}</td>
                                            <td>{{i.nodeip}}</td>
                                            <td>{{i.online_time|date:"Y-m-d"}}</td>
                                            <td>{{i.jg_name}}</td>
                                            <td>{{i.other1}}</td>
                                            <td>
                                                <a href="project_edit/?id={{i.id}}">编辑</a>
                                                <a href="project_delete?id={{i.id}}">删除</a>
                                                <a href="config_info_index?soft_name={{i.soft_name}}&&env_type={{ i.ent_type }}&&viewname={{ i.other1 }}">管理</a>

                                            </td>
                                            <td>
                                            {%  for k,v in config_file_dict.items %}
                                                {% if i.soft_name == k  %}
                                                        {% if v == 0 %}
                                                            <a href="config_info_index?soft_name={{i.soft_name}}&&env_type={{ i.ent_type }}&&viewname={{ i.other1 }}">编辑</a>

                                                        {% elif v == '没有配置文件' %}
                                                            <a href="upload_file_index?soft_name={{i.soft_name}}&&env_type={{ i.ent_type }}">上传</a>
                                                        {% else %}
                                                            {{ v }}
                                                        {% endif %}
                                                {% endif %}
                                             {% endfor %}
                                            </td>

                                          </tr>
                                    {% endfor %}
								</table>
                        </div>

	</div><!-- /.main-container -->


        <script type="text/javascript">
        $(document).ready(function() {
            $('#sample-table-2').DataTable(
                    {
                    stateSave: true
                    });
        } );
        </script>

{#处理列显示函数#}
                <script>
    function toggleColumn(e, i){
        var t = e.target.checked;
        var e = $('#sample-table-2 tr').find('th:eq(' + i + '),td:eq(' + i +')');
        if(t === true){
            e.show();
        } else {
            e.hide();
        }
        $.cookie('td' + i, t === true ? 1 : 0, {expires:365, path:'/'});
    }
        $(function() {
            var arr = [7,8];
            for (var i = 0; i < arr.length; i++) {
                var v = arr[i];
                var t = $.cookie('td' + v);
                if (t == 0) {
                    $('#cb' + v).attr("checked", false);
                    $('#sample-table-2 tr').find('th:eq(' + v + '),td:eq(' + v + ')').hide();
                }
            }
        });
    </script>
 <!--修改ACTIVE   -->
            <script>
                var env=document.getElementById('envtype').innerText;
            document.getElementById( env ).className='active';
    </script>


	</body>
</html>
