<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Basic Embedding Gate One</title>
    <script src="/static/js/gateone.js"></script>
    <script src="/static/assets/js/jquery-2.0.3.min.js"></script>


{#      GATEONE正常代码#}
{#    <script>#}
{#      window.onload = function() {#}
{#          // Initialize Gate One:#}
{#          GateOne.init({url: 'https://192.168.234.139'});#}
{#      }#}
{##}
{#    </script>#}


      <script>
        var check=''

        function wsconnect(order) {
            var file_names=$('#file_name').val()
{#            alert(file_name)#}
            if (check==order){
                alert('已经'+order)
            }
            else{
                var ws = new WebSocket("ws://192.168.234.139:6767/wssh/"+file_names);
                check=order
                ws.onopen = function () {
                    console.log("open");
                    ws.send(order);
                };
                ws.onmessage = function (evt) {
                    element = document.getElementById("log");
{#                    element.value += (evt.data + "\n");#}
                    element.value += (evt.data );
                    element.scrollTop = element.scrollHeight;

                };
                ws.onclose = function (evt) {
                    console.log("WebSocketClosed!");
                };
                ws.onerror = function (evt) {
                    console.log("WebSocketError!");
                };
            }
        }
      </script>



  </head>
  <body>
<!-- Decide where you want to put Gate One -->
{#    <div id="gateone_container" style="position: relative; width: 60em; height: 30em;">#}
{#        <div id="gateone"></div>#}
{#    </div>#}

  文件名: <input id="file_name" value="">
<button id="start" value="start" onclick="wsconnect(this.value)">启动</button>
<button id="stop" value="stop" onclick="wsconnect(this.value)">停止</button>

  <textarea name="log" id="log" style="font-size:12px; width:100%; height: 600px;"> log file::</textarea>
  </body>
</html>
